<%- include("../partials/header.ejs")%>

<body>

    <%- include("../partials/navbar.ejs")%>


  <div class="container">

    <div class="mb-5 mt-5 align-self-center">
      <h1> Trouver votre job de rêve !</h1>
      <h6>Vous cherchez un travail ? Parcourez nos dernières offres d'emploi et postulez aux meilleurs emplois
        aujourd'hui.</h6>
    </div>

    <form class="input-group mb-3 mt-3">

      <input name='search' type="search" class="form-control " placeholder="Rechercher par poste ou mots clés"
        aria-label="Search" aria-describedby="search-addon">
      <button type="submit" class="btn btn-outline-primary">search</button>
      

    </form>
    
      <div class="row">
        <div class="col">
          <select class="form-select mb-3 " aria-label="Default select example">
            <option selected>Date de publication</option>
            <option value="1">D</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select mb-3 " aria-label="Default select example">
            <option selected>Type de poste</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select mb-3 " aria-label="Default select example">
            <option selected>Entreprise</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        
      </div>
 
    
    
    <% offres.forEach(function(result) { %>
      
    <div class="card mb-3">
      <div class="card-header">
        <h6><%= result.fichePoste.intitule %> - <%= result.organisation.nom %></h6>
      </div>
      <div class="card-body">
        <p class="card-text"><%- result.fichePoste.description %></p>
        
        <a href="candidat/offre/<%= result.offre.num_offre%>" class="btn btn-outline-primary">Voir</a>
        <a href="candidat/offre/<%= result.offre.num_offre%>/postuler" class="btn btn-outline-success">Candidater</a>
      </form>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= result.fichePoste.date_ajout.toLocaleDateString("fr") %></small>
      </div>
      
    </div>
    <% }) %>
    <div class="pagination">
        <%- paginator %>
      </div>


    <%- include("../partials/footer.ejs")%>
