<%- include("../partials/header.ejs")%>

  <body>

    <%- include("../partials/navbar.ejs")%>
      <div class="container">
        <div class="card mb-3">
          <div class="card-header">
            <h6>
              <%= result.fichePoste.intitule %> - <%= result.organisation.nom %>
            </h6>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <h6>Salaire : <%= result.fichePoste.fourchette_min %> EUR - <%= result.fichePoste.fourchette_max %> EUR</h6>
            <h6>Rythme : <%= result.fichePoste.rythme %>
            </h6>

            <p class="card-text">Description : <%- result.fichePoste.description %></p>
            <% if(!locals.candidater){ %>
              <a href="<%= result.offre.num_offre%>/candidater" class="btn btn-outline-primary">Candidater</a>
              <% } %>

          </div>
          <div class="card-footer text-muted">
            <%= result.fichePoste.date_ajout.toLocaleDateString("fr") %>
          </div>
        </div>
        <% if(locals.candidater){ %>
          <form method="post" action="/upload" id="frmFileUpload" enctype="multipart/form-data">
          <div class="mb-3">
            <div class="row mb-2">
              <input type="hidden" name="myUsername" value="<%= user.nom %>" />
              <div class="col-8 offset-2"><h3>Postuler</h3></div>
              
            </div>
            <div class="row mb-2">
              <div class="col-8 offset-2">
                <select class="form-select" id="file_type" name="myFileType" required="true">
                  <option value="">--- Type du document ---</option>
                  <option value="CV">C.V.</option>
                  <option value="LM">L.M.</option>
                  <option value="CIN">Carte d'identité</option>
                </select>  
              </div>
            </div>

            <div class="row mb-2" >
              <div class="col-8 offset-2">
                <input class="form-control" id="fileInput" name="myFileInput" type="file" accept="image/*,.pdf" required="true" />
              </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
              <div class="col text-center">
                <a title="Charger le fichier">
                  <button type="submit" class="btn btn-primary">Charger le fichier</button>
                </a>
                </div>
            </div>

          </form>
          </div>
          <% } %>


      </div>

      <%- include("../partials/footer.ejs")%>