<%- include("../partials/header.ejs")%>

<body>

    <%- include("../partials/navbar.ejs")%>


  <div class="container">

    <div class="mb-5 mt-5 align-self-center">
      <h1> Gestion en tant qu'admin !</h1>
      <h6></h6>
    </div>

    <form class="input-group mb-3 mt-3">

      <input name='search' type="search" class="form-control " placeholder="Rechercher par poste ou mots clés"
        aria-label="Search" aria-describedby="search-addon">
      <button type="submit" class="btn btn-outline-primary">search</button>

    </form>
    <% offres.forEach(function(result) { %>
      
    <div class="card mb-3">
      <div class="card-header">
        <h6><%= result.fichePoste.intitule %> - <%= result.organisation.nom %></h6>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text"><%- result.fichePoste.description %></p>
        <a href="admin/offre/<%= result.offre.num_offre %>" class="btn btn-outline-primary">Voir</a>
       
      </div>
      <div class="card-footer text-muted">
        <%= result.fichePoste.date_ajout.toLocaleDateString("fr") %>
      </div>
    </div>
    <% }) %>
    <div class="pagination">
        <%- paginator %>
      </div>


    <%- include("../partials/footer.ejs")%>
