<%- include("../partials/header.ejs")%>

<body>

    <%- include("../partials/navbar.ejs")%>
    <div class="container">
      <div class="row">
          <div class="mb-5 mt-5 ">
              <h1> Gestion des offres d'emploi !</h1>
              <h6>Parcourez vos dernières offres d'emploi</h6>
          </div>
    <%- include("../partials/search.ejs")%>


  
    
    <% offres.forEach(function(result) { %>
      
    <div class="card mb-3">
      <div class="card-header">
        <h6><%= result.fichePoste.intitule %> - <%= result.organisation.nom %></h6>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text"><%- result.fichePoste.description %></p>
        <a href="recruteur/offre/id=<%= result.offre.num_offre %>" class="btn btn-outline-primary">Voir</a>
       
      </div>
      <div class="card-footer text-muted">
        <%= result.fichePoste.date_ajout.toLocaleDateString("fr") %>
      </div>
    </div>
    <% }) %>
    <div class="pagination">
        <%- paginator %>
      </div>


    <%- include("../partials/footer.ejs")%>
