<%- include("../partials/header.ejs")%>

    <body>

        <%- include("../partials/navbar.ejs")%>
            <div class="container">
                <div class="row">
                    <div class="mb-5 mt-5 align-self-center">
                        <h1> Les demandes recruteurs </h1>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Utilisateur</th>
                                <th scope="col">Date demande</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% demandes.forEach(function(demande) { %>
                                <tr>
                                    <th scope="row">
                                        <%= demande.id %>
                                    </th>
                                    <td>
                                        <%= demande.nom %>
                                            <%= demande.prenom %>
                                    </td>
                                    <td>
                                        <%= demande.date_demande.toLocaleDateString("fr") %>
                                    </td>
                                    <td>
                                        <%= demande.statut %>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                              Gérer
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                              <li><a class="dropdown-item" href="demandes/approve?id=<%= demande.id %>">Accepter</a></li>
                                              <li><a class="dropdown-item" href="demandes/refuse?id=<%= demande.id %>">Refuser</a></li>
                                            </ul>
                                          </div>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>

                                <% }) %>
                        </tbody>
                    </table>

                </div>

            </div>
            <%- include("../partials/footer.ejs")%>